@charset "UTF-8";
/* reset */
* {
	margin: 0;
	padding: 0;
}

body {
  background-color: #deeaf6;
}

.container {
  padding-top: 30px;
}

.container h1 {
  margin-bottom: 30px;
  text-align: center;
}

/* btn */
.btn {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.submit, .back {
  text-align: center;
}

.submit .btn {
  background-color: #4573c3;
  color: #fff;
}

.back .btn {
  background: #fff;
  color: #4573c3;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-top: 30px;
}

/* form */
/* member_register */

form {
  width: 40%;
  margin: 0 auto;
}

th {
  text-align: left;
  padding: 15px;
}

td {
  width: 70%;
}

input[name="address"] ,input[type="password"], input[name="email"], input[name="title"] {
  width: 100%;
}

.member-registered h1, .member-registered p {
  text-align: center;
}

.member-registered .submit {
  margin-top: 100px;
}

.email td {
  color: #0c63c1;
}

/* thread_register */
.content p {
  white-space: pre-wrap;
}


/* error-messages */
.error-messages td {
  color: red;
  font-size: 12px;
}


/* header */
header {
  height: 60px;
  background-color: #fbe4d5;
}

.header-left {
  float: left;
  padding: 15px 30px;
}

.header-right {
  float: right;
}

header .btn {
  background-color: #fbe4d5;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 7px;
  margin-right: 20px;
}


/* threads */
.threads {
  width: 40%;
  margin: 0 auto;
}

.threads .id {
  width: 20%;
}

.threads .title {
  width: 50%;
}

.threads .created-at {
  width: 30%;
}

input[name="search"] {
  width: 60%;
  padding: 10px;
}

.search .btn {
  background-color: #fff;
  border: 1px solid black;
}
