@charset "UTF-8";
/* reset */
* {
	margin: 0;
	padding: 0;
}

body {
  background-color: #deeaf6;
}

.wrapper {
  padding: 100px 0 160px;
  box-sizing: border-box;
}

/* .container {
  padding-top: 30px;
} */

.container h1 {
  margin-bottom: 30px;
  text-align: center;
}

/* btn */
.btn {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.submit, .back {
  text-align: center;
}

.submit .btn {
  background-color: #4573c3;
  color: #fff;
}

.submit a {
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-top: 30px;
}

.back .btn {
  background: #fff;
  color: #4573c3;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-top: 30px;
}

.member-regist {
  text-align: left;
  width: 40%;
  margin: 0 auto;
}

.member-regist .btn {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 30px;
}

/* form */
/* member_register */

form {
  width: 40%;
  margin: 0 auto;
}

th {
  text-align: left;
  padding: 15px;
}

td {
  width: 70%;
}

input[name="address"] ,input[type="password"], input[name="email"], input[name="title"] {
  width: 100%;
}

.member-registered h1, .member-registered p {
  text-align: center;
}

.member-registered .submit {
  margin-top: 100px;
}

.email td {
  color: #0c63c1;
}

/* thread_register */
.content p {
  white-space: pre-wrap;
}

/* error-messages */
.error-messages, .error-messages td {
  color: red;
  font-size: 12px;
}


/* header */
header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #fbe4d5;
}

.header-left {
  float: left;
  padding: 15px 30px;
}

.header-right {
  float: right;
}

header .btn {
  background-color: #fbe4d5;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 7px;
  margin-right: 20px;
}


/* threads */
.threads {
  width: 40%;
  margin: 0 auto;
}

.threads a {
  text-decoration: none;
}

.threads .id {
  display: inline-block;
  width: 20%;
  margin-bottom: 10px;
}

.threads .title {
  display: inline-block;
  width: 50%;
}

.threads .created-at {
  display: inline-block;
  width: 30%;
}

input[name="search"] {
  width: 60%;
  padding: 10px;
}

.thread-search .btn {
  background-color: #fff;
  border: 1px solid black;
}


/* thread_detail */
.thread-detail-header p {
  text-align: center;
}

.thread-detail-divider {
  height: 50px;
  background-color: #d8d8d8;
  margin: 15px 0;
}

.thread-detail-content {
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #3869e8;
  border-radius: 10px;
  color: #3869e8;
}

.comments {
  width: 40%;
  margin: 30px auto 0;
}

.comments-item {
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.comment .submit {
  float: right;
}

.comment textarea {
  width: 100%;
}

/* likes_form */
.likes-form {
  text-align: right;
}

.likes-form form {
  width: 100%;
  margin: 0;
  display: inline;
}

.likes-form button {
  background: none;
  border: none;
}

.unlike {
  color: #fc0100;
}

/* pagination */
.page-btn {
  font-size: 20px;
  text-decoration: none;
  color: #1a356e;
}

.thread-detail-divider .page-left {
  float: left;
  margin: 10px 0 0 80px;
}

.thread-detail-divider .page-right {
  float: right;
  margin: 10px 80px 0 0;
}

.not-paging {
  color: #868686;
}

/* member_withdrawal */
.withdrawal p {
  text-align: center;
  margin-bottom: 30px;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #fbe4d5;
  margin-top: 100px;
}

.footer-right {
  float: right;
}

footer .btn {
  background-color: #fbe4d5;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 7px;
  margin-right: 20px;
}

/* admin */
/* header */
.admin-header {
  background-color: #d9d9d9;
}

.admin-header .header-right p {
  display: inline-block;
  margin-right: 30px;
}
.admin-header .btn {
  background-color: #d9d9d9;
}

/* footer */
.admin-footer {
  background-color: #d9d9d9;
}

/* admin_login */
.admin-login .form {
  width: 100%;
}

.admin-login input {
  width: 90%;
}

/* member_search */
.member-search .form {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.member-search th {
  background-color: #d8d8d8;
}

.member-search td {
  padding-left: 10px;
}

.member-search input[name="id"],
.member-search input[name="free_word"] {
  padding: 10px;
  width: 90%;
}

.member-search select {
  padding: 10px;
}

/* members */
.members-wrapper {
  width: 60%;
  margin: 0 auto;
}

.members {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  text-align: center;
}

.members thead {
  background: #d8d8d8;
}

.members th {
  text-align: center;
  font-size: 12px;
}

.members .id {
  width: 7%;
}

.members .name {
  width: 20%;
}

.members .gender {
  width: 7%;
}

.members .address {
  width: 38%;
}

.members .created-at {
  width: 14%;
}

.members .edit {
  width: 7%;
}

.members .detail {
  width: 7%;
}

.members .name a,
.members .edit a,
.members .detail a {
  color: #4573c3;
  text-decoration: none;
}

/* toggle_button */
.toggle {
  display: inline;
}

.toggle button {
  background: none;
  border: none;
}

/* member_pagination */
.member-pagination {
  margin-top: 30px;
  float: right;
}

.member-pagination .page-left,
.member-pagination .page-right {
  background-color: #fff;
  border: 1px solid black;
  color: black;
}

.member-pagination .page-left {
  display: inline-block;
}

.member-pagination .paging {
  display: inline-block;
}

.member-pagination .paging a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #fff;
  border: 1px solid black;
  padding: 5px;
}

.now-page {
  font-size: 20px;
  color: white;
  background-color: #757070;
  border: 1px solid black;
  padding: 5px;
}

.member-pagination .page-right {
  display: inline-block;
}

/* member_detail */
.member-detail {
  width: 40%;
  margin: 0 auto;
}
